<h2>B3 th3 1337</h2>
<form action="/result" method="get">
  <div class="form-group">
    <label for="sentence">Write something:</label>
    <input id="sentence" class="form-control" type="text" name="sentence">
    <button class="btn btn-warning" type="submit" name="button">Submit</button>
  </div>
</form>
